<div class="body">
{{> blog-hero}}
  <section class="section section-blog-main section-blog-post">
    {{> nav}}
    <main class="container">
      <div class="content">
        {{{page.contents}}}
      </div>
    </main>
  </section>
</div>
