<section class="hero"{{#if page.attributes.color-primary}} style="background: {{page.attributes.color-primary}}"{{/if}}>
  <div class="hero-body">
    <div class="container is-widescreen {{#if page.attributes.blog-tags-array}} blog-main{{else}} blog-page{{/if}}">
      {{> nav-toggle}}
      <div class="titles">
        <h1 class="title"{{#if page.attributes.color-secondary}} style="text-shadow: 3px 3px {{page.attributes.color-secondary}}{{/if}}">
          <a href="{{{relativize (resolvePageURL 'index.adoc')}}}">Blog</a>
          <span class="rss">
              <a href="{{{relativize (resolvePageURL 'rss/feed.xml')}}}">
                {{{blog-icon 'faRss'}}}
              </a>
            </span>
        </h1>
      </div>
      {{#if page.attributes.blog-tags-array}}
        <div class="container">
          <div class="tags cloud">
            {{{blog-icon 'faTag'}}}
            {{{page.attributes.blog-tags-array}}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</section>
