<section class="section section-blog-post">
  {{> nav}}
  <main class="container">
<!--    <article>-->
      <header>
        <div class="meta">
          <div class="avatar">by</div>
          <div class="byline">
            <span class="author">{{page.attributes.author}}</span><time datetime="{{page.attributes.revdate}}">
            {{short-revision-date page.attributes.revdate}}</time>
          </div>
        </div>
        <h1 class="title">{{page.attributes.title}}</h1>
      </header>
      <div class="content">
        {{> article}}
        {{> toc}}
      </div>
<!--      <footer>-->
<!--        <a class="discuss-twitter" href="https://twitter.com/search?q=${encodeURIComponent(page.canonicalUrl)}" target="_blank" rel="noopener noreferrer">${icon(faTwitter).html} Discuss on Twitter</a>-->
<!--        <a class="edit-this-page" href="${page.editUrl}" target="_blank" rel="noopener noreferrer">${icon(faGithubAlt).html} Edit on GitHub</a>-->
<!--      </footer>-->
<!--    </article>-->
  </main>
<!--  ${disqusHTML}-->
</section>
