.nav-container {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.nav {
  box-shadow: 0.5px 0 3px var(--nav-border-color);
  position: relative;
  top: 0;
  height: var(--nav-height);
}

@media screen and (min-width: 1024px) {
  .nav-container {
    position: absolute;
    top: 0;
    visibility: hidden;
  }

  .nav {
    box-shadow: 0.5px 0 3px var(--nav-border-color);
    position: relative;
    top: 0;
    height: var(--nav-height);
  }
}
