
.blog-page .nav-toggle {
  background: url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 49%;
}

.blog-main .nav-toggle {
  background: url(../img/menu-white.svg) no-repeat 50% 47.5%;
  background-size: 49%;
}

.nav-toggle {
  border: none;
  outline: none;
  line-height: inherit;
  padding: 0;
  height: var(--toolbar-height);
  width: var(--toolbar-height);
  margin-right: -0.25rem;
}

.blog-page .nav-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 41.5%;
}

.blog-main .nav-toggle.is-active {
  background-image: url(../img/back-white.svg);
  background-size: 41.5%;
}
